.auth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &-form {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
      font-size: 3.2rem;
      font-weight: 500;
      color: $color-main;
    }
  }

  &-error {
    padding: 1rem;
    border: 1px solid $color-red;
    background-color: rgba($color-red, .2);
    color: $color-red;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 4px;
  }

  &-buttons {
    display: flex;
  }

  &-link {
    font-size: 1.5rem;
    color: $color-gray-600;
  }
}