.auth {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  display: flex;
  gap: 3rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-bottom-text {
  font-size: 1.4rem;
}

.auth-container form button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1877f2;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
