.home {
  &-hero {
    background-image: url("/static/images/hero.jpg");
    background-position: top center;
    background-size: cover;
    height: calc(100vh - 56px - 160px);
    display: flex;
    align-items: center;

    &-container {
        max-width: 550px;
        margin-left: 7rem;
        background-color: rgba($color-white, .7);
        padding: 2rem;
        border-radius: 3px;

        h1 {
            span {
                display: block;
            }
            span:nth-child(1) {
                font-size: 1.5rem;
            }
        }
    }
  }
}
