{% extends "base/authentication.html" %} {% block title %}Connexion{% endblock%}
{% load static %} {% block main %}
<div class="auth-container">
  <form method="post" class="auth-form">
    {% csrf_token %}
    <h1>Connexion</h1>
    <div class="auth-error">
      <p class="auth-error-text"></p>
    </div>
    <div class="input-wrapper">
      <input type="text" id="email" name="email" class="input-text" required />
      <label for="email" class="input-label">Adresse mail</label>
    </div>
    <div class="input-wrapper">
      <input
        type="password"
        id="password"
        name="password"
        class="input-text"
        required
      />
      <label for="password" class="input-label">Mot de passe</label>
    </div>

    <div class="auth-buttons">
      <button class="btn btn-main" type="submit">Connexion</button>
    </div>

    <p class="auth-link">
      Vous n'avez pas de compte? <a href="/sign-up">Créez-en un ici.</a>
    </p>
  </form>
  <img src="{% static 'images/signin-image.jpg' %}" alt="" />
</div>
{% endblock %}
