{% extends "base/authentication.html" %}
{% block title %}Connexion{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
<div class="auth-container">
    <form method="post">
        <h1>Connexion</h1>
        {% csrf_token %}{{ form|crispy }}
        <button type="submit">Connexion</button>
        <p class="auth-bottom-text">Vous n'avez pas de compte? <a href="/sign-up">Créez-en un ici.</a></p>
    </form>
    <img src="{% static 'images/signin-image.jpg' %}" alt="" />
</div>
{% endblock %}