{% extends "base/dashboard.html" %} 
{% load static %}

{% block sidebar %} 
{% include "base/components/teacher-sidebar.html" %}
{% endblock %} 

{% block main %}
<div class="dashboard-exams">
  <h3>Mes résultats</h3>
  <div class="dashboard-exams-table">
    <div class="dashboard-exams-table-header">
      <div>Questions</div>
      <div>Note</div>
      <div>Actions</div>
    </div>
    <div class="dashboard-exams-table-body">
      {% for c in questions %}
      <div class="dashboard-exams-table-row">
        <div>{{c.question}}</div>
        <div>{{c.marks}}</div>
        <div>
          <a class="dashboard-exams-table-row-action" href="{% url 'remove-question' c.id  %}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}

