{% extends "base/home.html" %} 
{% block title%}Teacher{% endblock %} 
{% load static %} 
{% block main %}
<div class="main-home-wrapper main-home-wrapper-teacher">
    <div class="main-home-wrapper-container">
        <h1>Bonjour Chers Enseignants</h1>
        <h3>et Bienvenue à Edumetric</h3>
        <div class="main-home-wrapper-container-buttons">
            <a class="btn btn-main" href="teachersignup" role="button">Inscription</a>
            <a class="btn btn-secondary" href="teacherlogin">Connexion</a>
        </div>
    </div>
</div>
{% endblock %}
