{% extends "base/authentication.html" %} 
{% block title %}Connexion{% endblock%}
{% load static %}
{% block main %}
<div class="auth-container">
  <form method="post" action="{% url 'account_login' %}" class="auth-form">
    {% csrf_token %}
    <h1>Connexion</h1>
    <div class="input-wrapper">
      {{ form.login }}
    </div>
    <div class="input-wrapper">
      {{ form.password }}
    </div>

    <div class="auth-buttons">
      <button class="btn btn-main" type="submit">Connexion</button>
    </div>

    <p class="auth-link">
      Vous n'avez pas de compte? <a href="/accounts/signup">Créez-en un ici.</a>
    </p>
  </form>
  <img src="{% static 'images/signin-image.jpg' %}" alt="" />
</div>
{% endblock %}
