{% extends "base/authentication.html" %} {% block title %}Connexion{% endblock%}
{% load static %} {% block main %}
<div class="auth-container">
  <img src="{% static 'images/signup-image.jpg' %}" alt="" />
  <form method="post" action="{% url 'account_signup' %}" class="auth-form">
    {% csrf_token %}
    <h1>Inscription</h1>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="auth-error">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="auth-error">
                <p>{{ error|escape }}</p>
            </div>
        {% endfor %}
    {% endif %}

    <div class="input-wrapper">
      <label for="id_role" class="input-select-label">Rôle</label>
      {{ form.role }}
    </div>
    <div class="input-wrapper">
      {{ form.first_name }}
      <label for="id_first_name" class="input-label">Prénom</label>
    </div>
    <div class="input-wrapper">
      {{ form.last_name }}
      <label for="id_last_name" class="input-label">Nom</label>
    </div>
    <div class="input-wrapper">
      {{ form.email }}
      <label for="id_email" class="input-label">Adresse mail</label>
    </div>
    <div class="input-wrapper">
      {{ form.password1 }}
      <label for="id_password1" class="input-label">Mot de passe</label>
    </div>
    <div class="input-wrapper">
      {{ form.password2 }}
      <label for="id_password2" class="input-label">Confirmation du mot de passe</label>
      {{ form.password2.errors }}
    </div>

    <div class="auth-buttons">
      <button class="btn btn-main" type="submit">Inscription</button>
    </div>

    <p class="auth-bottom-text">
      Avez vous un compte? <a href="/accounts/login">Connexion.</a>
    </p>
  </form>
</div>
{% endblock %}
