{% extends "base/dashboard.html" %} 
{% load static %}

{% block sidebar %} 
{% include "base/components/admin-sidebar.html" %}
{% endblock %} 

{% block main %}
<div class="dashboard-exams">
  <h3>Mes résultats</h3>
  <div class="dashboard-exams-table">
    <div class="dashboard-exams-table-header">
      <div>Nom</div>
      <div>Photo</div>
      <div>Téléphone</div>
      <div>Adresse</div>
      <div>Actions</div>
    </div>
    <div class="dashboard-exams-table-body">
      {% for t in teachers %}
      <div class="dashboard-exams-table-row">
        <div>{{t.get_name}}</div>
        <div>
          <img src="{% static t.profile_pic.url %}" alt="Photo de Profile" height="40px" width="40px" />
        </div>
        <div>{{t.mobile}}</div>
        <div>{{t.address}}</div>
        <div>
          <a class="dashboard-exams-table-row-action" href="{% url 'update-teacher' t.id  %}">
            <i class="fas fa-edit"></i>
          </a>
          <a class="dashboard-exams-table-row-action" href="{% url 'delete-teacher' t.id  %}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
