{% extends "base/dashboard.html" %}
{% load widget_tweaks %}

{% block sidebar %}
  {% include "base/components/admin-sidebar.html" %}
{% endblock %}

{% block main %}
    <div class="dashboard-link-grid">
      <a href="admin-add-course" class="dashboard-link-card blue">
        <div>
          <h3 style="margin: 0">Ajouter un examen</h3>
        </div>
        <i class="fas fa-plus f-left"></i>
      </a>
      <a href="admin-view-course" class="dashboard-link-card green">
        <div>
          <h3 style="margin: 0">Consulter les examens</h3>
        </div>
        <i class="fas fa-eye f-left"></i>
      </a>
    <div>
{% endblock main %}
