{% extends "base/dashboard.html" %} 
{% load static %}

{% block sidebar %} 
{% include "base/components/admin-sidebar.html" %}
{% endblock %} 

{% block main %}
<div class="dashboard-exams">
  <h3>Mes résultats</h3>
  <div class="dashboard-exams-table">
    <div class="dashboard-exams-table-header">
      <div>Examen</div>
      <div>Nombre de questions</div>
      <div>Nombre total de notes</div>
      <div>Actions</div>
    </div>
    <div class="dashboard-exams-table-body">
      {% for c in courses %}
      <div class="dashboard-exams-table-row">
        <div>{{c.course_name}}</div>
        <div>{{c.question_number}}</div>
        <div>{{c.total_marks}}</div>
        <div>
          <a class="dashboard-exams-table-row-action" href="{% url 'view-question' c.id  %}">
            <i class="fas fa-eye"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}