
{% extends "base/dashboard.html" %}
{% load widget_tweaks %}

{% block sidebar %}
  {% include "base/components/admin-sidebar.html" %}
{% endblock %}

{% block main %}
    <div class="dashboard-link-grid">
      <a href="admin-view-teacher" class="dashboard-link-card blue">
        <div>
          <h3>Nombre d'enseignants approuvés</h3>
          <p>{{total_teacher}}</p>
        </div>
        <i class="fas fa-chalkboard-teacher f-left"></i>
      </a>
      <a href="admin-view-pending-teacher" class="dashboard-link-card green">
        <div>
          <h3>Nombre d'enseignants en attente</h3>
          <p>{{pending_teacher}}</p>
        </div>
        <i class="fas fa-sync-alt f-left"></i>
      </a>
      <a href="admin-view-teacher-salary" class="dashboard-link-card red">
        <div>
          <h3>Salaire total des enseignants</h3>
          <p>{{salary}}</p>
        </div>
        <i class="fas fa-dollar-sign f-left"></i>
      </a>
    <div>
{% endblock main %}