{% extends "base/dashboard.html" %}
{% load widget_tweaks %}

{% block sidebar %}
  {% include "base/components/admin-sidebar.html" %}
{% endblock %}

{% block main %}
    <div class="dashboard-link-grid">
      <a href="admin-view-student" class="dashboard-link-card blue">
        <div>
          <h3>Étudiants inscrits</h3>
          <p>{{total_student}}</p>
        </div>
        <i class="fas fa-user-graduate f-left"></i>
      </a>
      <a href="admin-view-teacher" class="dashboard-link-card green">
        <div>
          <h3>Nombre d'enseignants</h3>
          <p>{{total_teacher}}</p>
        </div>
        <i class="fas fa-chalkboard-teacher f-left"></i>
      </a>
      <a href="admin-view-course" class="dashboard-link-card purple">
        <div>
          <h3>Examens disponibles</h3>
          <p>{{total_course}}</p>
        </div> 
        <i class="fas fa-book f-left"></i>
      </a>
      <a href="admin-view-question" class="dashboard-link-card red">
        <div>
          <h3>Nombre total de questions</h3>
          <p>{{total_question}}</p>
        </div>
        <i class="fas fa-question-circle f-left"></i>
      </a>
    <div>
{% endblock main %}