{% extends "base/dashboard.html" %}
{% load widget_tweaks %}
{% load static %}

{% block sidebar %} 
  {% include "base/components/admin-sidebar.html" %} 
{% endblock %} 

{% block main %}
<div class="dashboard-form">
  <h3 style="margin-bottom: 2.5rem">Ajouter un examen</h3>
  <form method="POST" autocomplete="off">
    {%csrf_token%}
    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      <label for="question" class="input-select-label">Examens</label>
      {% render_field questionForm.courseID|attr:'required:true' %}
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      <label for="question" class="input-select-label">Question</label>
      {% render_field questionForm.question|attr:'required:true' placeholder="Example: Laquelle des options suivantes n est pas une phase du modèle de prototypage?" %}
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field questionForm.marks|attr:'required:true' placeholder="" %}
      <label for="question_number" class="input-label">Note</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field questionForm.option1|attr:'required:true' placeholder="" %}
      <label for="option1" class="input-label">Option 1</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field questionForm.option2|attr:'required:true' placeholder="" %}
      <label for="option2" class="input-label">Option 2</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field questionForm.option3|attr:'required:true' placeholder="" %}
      <label for="option3" class="input-label">Option 3</label>
    </div>
    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field questionForm.option4|attr:'required:true' placeholder="" %}
      <label for="option4" class="input-label">Option 4</label>
    </div>
    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      <label for="answer" class="input-select-label">Réponse correcte</label>
      {% render_field questionForm.answer|attr:'required:true' %}
    </div>

    <button type="submit" class="btn btn-main">Ajouter Examen</button>
  </form>
</div>
{% endblock %}
