{% extends "base/dashboard.html" %} 
{% load widget_tweaks %} 
{% load static %}

{% block sidebar %}
  {% include "base/components/admin-sidebar.html" %} 
{% endblock %} 

{% block main %}
<div class="dashboard-form">
  <h3 style="margin-bottom: 2.5rem">Ajouter un examen</h3>
  <form method="POST" autocomplete="off">
    {%csrf_token%}
    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field courseForm.course_name placeholder="" %}
      <label for="course_name" class="input-label">Examen</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field courseForm.question_number placeholder="" %}
      <label for="question_number" class="input-label">Nombre de quesitons</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field courseForm.total_marks placeholder="" %}
      <label for="total_marks" class="input-label">Note total</label>
    </div>
    <button type="submit" class="btn btn-main">Ajouter Examen</button>
  </form>
</div>
{% endblock %}