{% extends "base/dashboard.html" %} 
{% load widget_tweaks %}
{% load static %}

{% block sidebar %} 
{% include "base/components/admin-sidebar.html" %}
{% endblock %} 

{% block main %}
  <div class="dashboard-form">
    <h3>Veuillez saisir le montant du salaire.</h3>
    <form method="POST" autocomplete="off">
      {%csrf_token%}
      <div class="input-wrapper" style="margin-bottom: 1.5rem">
        {% render_field teacherSalary.salary class="input-text" placeholder="" %}
        <label for="id_salary" class="input-label">Salair (par mois)</label>
      </div>
      <button type="submit" class="btn btn-main">Approuver</button>
    </form>
  </div>
{% endblock %}
