{% extends "base/dashboard.html" %} 
{% load widget_tweaks %} 
{% load static %}

{% block sidebar %}
  {% include "base/components/admin-sidebar.html" %} 
{% endblock %} 

{% block main %}
<div class="dashboard-form">
  <h3 style="margin-bottom: 2.5rem">Modification de l'enseignant</h3>
  <form method="POST" autocomplete="off">
    {%csrf_token%}
    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field userForm.first_name class="input-class" placeholder="" %}
      <label for="first_name" class="input-label">Prenom</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field userForm.last_name class="input-class" placeholder="" %}
      <label for="last_name" class="input-label">Nom</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field teacherForm.mobile class="input-class" placeholder="" %}
      <label for="mobile" class="input-label">Telephone</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field teacherForm.address class="input-class" placeholder="" %}
      <label for="address" class="input-label">Adresse</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field userForm.username class="input-class" placeholder="" %}
      <label for="username" class="input-label">Utilisateur</label>
    </div>

    <div class="input-wrapper" style="margin-bottom: 1.5rem">
      {% render_field userForm.password class="input-class" placeholder="" %}
      <label for="password" class="input-label">Mopt de passe</label>
    </div>

    {% comment %} <div class="input-wrapper" style="margin-bottom: 1.5rem">
      <label for="profile_pic" class="input-select-label">Profile Picture</label>
      {% render_field studentForm.profile_pic class="input-class" placeholder="Profile Picture" %}
    </div> {% endcomment %}

    <button type="submit" class="btn btn-main">Modifier</button>
  </form>
</div>
{% endblock %}
