{% load static %}

<aside class="sidebar">
  <div class="sidebar-header">
    <img src="{% static "image/teacher.png" %}" alt="">
    <h4>{{request.user.first_name}}</h4>
    <h6>( Enseignant )</h6>
  </div>
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a class="sidebar-link" href="/teacher/teacher-dashboard">
        <span class="sidebar-link-img sidebar-link-img-dashboard"></span>
        <span class="sidebar-link-text">Tableau de bord</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link " href="/teacher/teacher-exam">
        <span class="sidebar-link-img sidebar-link-img-exams"></span>
        <span class="sidebar-link-text">Gérer les examens</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link " href="/teacher/teacher-question">
        <span class="sidebar-link-img sidebar-link-img-grades"></span>
        <span class="sidebar-link-text">Gérer les questions</span>
      </a>
    </li>
  </ul>
</aside>

