{% load static %}

<aside class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item">
      <a class="sidebar-link" href="/student/student-dashboard">
        <span class="sidebar-link-img sidebar-link-img-dashboard"></span>
        <span class="sidebar-link-text">------</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link" href="/student/student-exam">
        <span class="sidebar-link-img sidebar-link-img-exams"></span>
        <span class="sidebar-link-text">--------</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a class="sidebar-link " href="/student/student-marks">
        <span class="sidebar-link-img sidebar-link-img-grades"></span>
        <span class="sidebar-link-text">--------</span>
      </a>
    </li>
  </ul>
</aside>

