{% extends "base/dashboard.html" %} 

{% block sidebar %} 
{% include "base/components/student-sidebar.html" %}
{% endblock %} 

{% block main %}
<div class="dashboard-exams">
  <h3>Mes résultats</h3>
  <div class="dashboard-exams-table">
    <div class="dashboard-exams-table-header">
      <div>Examen</div>
      <div>Note</div>
      <div>Numero de tentatives</div>
      <div>Examen passé à</div>
    </div>
    <div class="dashboard-exams-table-body">
      {% for t in results %}
      <div class="dashboard-exams-table-row">
        <div>{{t.exam}}</div>
        <div>{{t.marks}}</div>
        <div>{{ forloop.counter }}</div>
        <div>{{t.date}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
