{% extends "base/dashboard.html" %}

{% block sidebar %}
  {% include "base/components/student-sidebar.html" %}
{% endblock %}

{% block main %}
  <div class="dashboard-exams">
    <h3>Détails de l'examen</h3>
    <div class="dashboard-exams-take">
      <p>L'examen: <span>{{course.course_name}}</span></p>
      <p>Nombre de questions: <span>{{total_questions}}</span></p>
      <p>La note: <span>{{total_marks}}</span></p>
    </div>
    <div class="dashboard-exams-note">
      <h4>À NOTER</h4>
      <ul>
          <li>&raquo; Toutes les questions sont des QCM (questions à choix multiples).</li>
          <li>&raquo; Un seul choix est correct parmi ceux proposés.</li>
          <li>&raquo; Chaque question est assortie d'une note différente.</li>
          <li>&raquo; 
              Si vous appuyez sur rafraîchir ou retournez à la page précédente, 
              il y aura une nouvelle question pour vous et la question sur 
              laquelle vous étiez sera comptée comme nombre d'essais.
          <li>
          <li>&raquo; Les questions sont présentées de manière aléatoire.</li>
          <li>&raquo; Vous pourrez consulter vos notes immédiatement après avoir soumis votre réponse.</li>
      </ul>
    </div>
    <div class="dashboard-exams-take-button">
      <a href="{% url 'start-exam' course.id  %}" class="btn btn-main">Passer l'examen</a>
    </div>
  </div>
{% endblock main %}