{% load static %}
<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
      <img src="{% static 'images/logo.svg' %}" alt="Edumetric" />
    </a>
  </div>

  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/" class="btn btn-nav">Comment ça marche</a>
    </li>
    <li class="navbar-item">
      <a href="/" class="btn btn-nav">Notre mission</a>
    </li>
    <li class="navbar-item">
      <a href="/accounts/login" class="btn btn-secondary">Connexion</a>
    </li>
    <li class="navbar-item">
      <a href="/accounts/signup" class="btn btn-main">Inscription</a>
    </li>

    {% comment %}
    <li class="navbar-item">
      <button type="button" class="btn btn-icon">
        <img src="{% static 'images/icons/notifications.svg' %}" alt="User" />
      </button>
    </li>
    <li class="navbar-item">
      <button type="button" class="btn btn-img">
        <img src="{% static 'images/icons/profile.jpg' %}" alt="User" />
      </button>
    </li>
    {% endcomment %}
  </ul>
</nav>
