{% load static %}

<aside class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <a class="sidebar-link active" href="#">
                <span class="sidebar-link-img sidebar-link-img-dashboard"></span>
                <span class="sidebar-link-text">Tableau de bord</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#">
                <span class="sidebar-link-img sidebar-link-img-exams"></span>
                <span class="sidebar-link-text">Examens</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="#">
                <span class="sidebar-link-img sidebar-link-img-grades"></span>
                <span class="sidebar-link-text">Mes résultats</span>
            </a>
        </li>
    </ul>
</aside>